.input-container {
    width: 400px;
    position: relative;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 0.5rem;
}

.icon-size {
    width: 20px;
    height: 20px;
}

.input-field {
    padding: 0.5rem;
    border: 1px solid #109e18;
    border-radius: 4px;
    width: 100%;
    font-size: 1rem;
}
